/* Estilo global ao arquivo */
* {
    margin: 0;
    padding: 0;
    /* define uma margem e um preenchimento de 0px */
}

/* configurações do body */
body {
    text-align: left;
    width: 50%;
    margin-left: 30%;
}

/* Configurando header */
.header {
    display: flex; 
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 40px;
    background-color: lightgray;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid #000;
}

#nome {
    text-align: left;
}

#direita {
    text-align: right;
}

.main{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #80ccc6;
}

main h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}

main h1, h2 {
    text-transform: uppercase;
}

main img {
    width: 200px;
    height: 235px;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;
    background-color: lightgray;
    border-top: 1px solid #000;
}

footer img {
    height: 70px;
    width: 70px;
}